
<div class="application-info">
  <h2>Application Time</h2>
    <p>Applications can be scary. Take the time to look over the deadlines. Talk to your parents about what you need from them. When you get the chance, talk to your teachers about getting letters of recommendations and if they can review your personal statements.</p>
    <h5>
      <a href="http://admission.universityofcalifornia.edu/how-to-apply/apply-online/index.html"> UC Apply Online </a> | 
      <a href="http://www.csumentor.edu/admissionapp/undergrad_apply.asp"> CSU Apply Online </a>
      </h5><br>

  <div class="row">
    <div class="application-chart col s7">
      <h4>Dates and deadlines for UC and CSU</h4>
      <h5>2016–17</h5>
      <table>
          <tbody>
              <tr>
                  <td class="month">August</td>
                  <td>1</td>
                  <td>Application opens for applicants for fall 2017</td>
              </tr>
              <tr>
                  <td colspan="3">
                      <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                  </td>
              </tr>
              <tr>
                  <td class="month">October</td>
                  <td>1</td>
                  <td>Filing period for FAFSA and Cal Grant Verification Form opens for applicants to all terms (filing period open through March 2, 2017)</td>
              </tr>
              <tr>
                  <td colspan="3">
                      <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                  </td>
              </tr>
              <tr>
                  <td class="month">November</td>
                  <td>1-30</td>
                  <td><strong>Fall 2017 admission application filing period for all applicants</strong></td>
              </tr>
              <tr>
                  <td colspan="3">
                      <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                  </td>
              </tr>
              <tr>
                  <td class="month">January</td>
                  <td>3</td>
                  <td>Transfer application deadline extension. Some majors will be closed after Nov. 30</td>
              </tr>
              <tr>
                  <td>&nbsp;</td>
                  <td>4</td>
                  <td>Online application update opens for transfer applicants to report final fall grades and in-progress or planned coursework (priority deadline is January 31)</td>
              </tr>
              <tr>
                  <td colspan="3">
                      <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                  </td>
              </tr>
              <tr>
                  <td class="month">March</td>
                  <td>1</td>
                  <td>Notification of fall 2017 admission decisions begins</td>
              </tr>
              <tr>
                  <td>&nbsp;</td>
                  <td>2</td>
                  <td>Deadline for applicants for all terms to submit FAFSA and Cal Grant GPA Verification Form</td>
              </tr>
              <tr>
                  <td>&nbsp;</td>
                  <td>31</td>
                  <td>Notification of fall 2017 admission decisions for freshman applicants is complete</td>
              </tr>
              <tr>
                  <td colspan="3">
                      <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                  </td>
              </tr>
              <tr>
                  <td class="month">May</td>
                  <td>1</td>
                  <td>Deadline for admitted freshmen to submit Statement of Intent to Register (SIR)</td>
              </tr>
              <tr>
                  <td>&nbsp;</td>
                  <td></td>
                  <td>Notification of fall 2017 admission decisions for transfer applicants is complete</td>
              </tr>
              <tr>
                  <td colspan="3">
                      <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                  </td>
              </tr>
              <tr>
                  <td class="month">June</td>
                  <td>1</td>
                  <td>Deadline for admitted transfer students to submit Statement of Intent to Register (SIR)</td>
              </tr>
              <tr>
                  <td colspan="3">
                      <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                  </td>
              </tr>
              <tr>
                  <td class="month">July</td>
                  <td>1</td>
                  <td>For students admitted for fall 2017: Final, official transcripts must be sent to the campus admissions office. Transcripts must be postmarked or electronically submitted on or before July 1.</td>
              </tr>
              <tr>
                  <td class="month" style="text-align: right; padding-right: 5px;">
                      <p align="right"></p>
                  </td>
                  <td>15</td>
                  <td>Official AP, IB examination results must be sent to the campus admissions office. Test scores must be postmarked or electronically submitted on or before July 15.</td>
              </tr>
              <tr>
                  <td colspan="3">
                      <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
    <div class="col s5">
      <h4>Fee waivers</h4>
      <p>UC will waive application fees for up to four campuses for qualified students who would otherwise be unable to apply for admission. The fee waiver program is for United States citizens, permanent residents, and applicants eligible for AB540 benefits.</p>
      <p>Fee waivers can’t be applied to more than four campuses, regardless of their source (e.g. UC, CollegeBoard/SAT). If you apply to more than four, you’ll need to pay $70 for each additional choice.</p>
      <h5>Applying for a fee waiver</h5>
        <p>You can apply for a fee waiver within the online application and be notified immediately whether you have qualified. You will need to provide your family's income and the number of people supported by that income.</p>
      <h5>International fees</h5>
        <p>International and non-immigrant applicants must pay a higher application fee of $80 for each campus selected.</p>

      <p>If you currently attend school in the U.S., however, you may be eligible to pay the lower application fee of $70 per campus.</p>
    </div>
  </div>
</div>
