
<div class="application-info">
  <h2>Application Time</h2>
    Applications can be scary. Take the time to look over the deadlines. Talk to your<br>
    parents about what you need from them. When you get the chance, talk to your teachers<br>
    about getting letters of recommendations and if they can review your personal statements.<br>
    <p>
      <h5>
        <a href="http://admission.universityofcalifornia.edu/how-to-apply/apply-online/index.html">
        UC Apply Online </a> | <a href="http://www.csumentor.edu/admissionapp/undergrad_apply.asp">
        CSU Apply Online </a>
      </h5>
    </p>


    <h3>Dates and deadlines for UC and CSU</h2>
    <h4>2016–17</h3>
    <table border="0" cellspacing="0" class="dates">
        <tbody>
            <tr>
                <td class="month" style="text-align: right; padding-right: 5px;">
                    <p align="right">August</p>
                </td>
                <td class="date">
                    <p>1</p>
                </td>
                <td>
                    <p>
                        <span>Application opens for applicants for fall 2017</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                </td>
            </tr>
            <tr>
                <td class="month" style="text-align: right; padding-right: 5px;">
                    <p align="right">October</p>
                </td>
                <td class="date">
                    <p>1</p>
                </td>
                <td>
                    <p>Filing period for FAFSA and Cal Grant Verification Form opens for applicants to all terms (filing period open through March 2, 2017)</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                </td>
            </tr>
            <tr>
                <td class="month" style="text-align: right; padding-right: 5px;">
                    <p align="right">November</p>
                </td>
                <td class="date">
                    <p>1-30</p>
                </td>
                <td>
                    <strong>
                        <p>Fall 2017 admission application filing period for all applicants</p>
                    </strong>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                </td>
            </tr>
            <tr>
                <td class="month" style="text-align: right; padding-right: 5px;">
                    <p align="right">January</p>
                </td>
                <td class="date">
                    <p>3</p>
                </td>
                <td>
                    <p>Transfer application deadline extension. Some majors will be closed after Nov. 30.&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td class="month" style="text-align: right; padding-right: 5px;">&nbsp;</td>
                <td class="date">
                    <p>4</p>
                </td>
                <td>
                    <p>Online application update opens for transfer applicants to report final fall grades and in-progress or planned coursework (priority deadline is January 31)</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                </td>
            </tr>
            <tr>
                <td class="month" style="text-align: right; padding-right: 5px;">
                    <p align="right">March</p>
                </td>
                <td class="date">
                    <p>1</p>
                </td>
                <td>
                    <p>Notification of fall 2017 admission decisions begins</p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="date">
                    <p>2</p>
                </td>
                <td>
                    <p>Deadline for applicants for all terms to submit FAFSA and Cal Grant GPA Verification Form</p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="date">
                    <p>31</p>
                </td>
                <td>
                    <p>Notification of fall 2017 admission decisions for freshman applicants is complete</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                </td>
            </tr>
            <tr>
                <td class="month" style="text-align: right; padding-right: 5px;">
                    <p align="right">May</p>
                </td>
                <td class="date">
                    <p>1</p>
                </td>
                <td>
                    <p>Deadline for admitted freshmen to submit Statement of Intent to Register (SIR)</p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="date"></td>
                <td>
                    <p>Notification of fall 2017 admission decisions for transfer applicants is complete</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                </td>
            </tr>
            <tr>
                <td class="month" style="text-align: right; padding-right: 5px;">
                    <p align="right">June</p>
                </td>
                <td class="date">
                    <p>1</p>
                </td>
                <td>
                    <p>Deadline for admitted transfer students to submit Statement of Intent to Register (SIR)</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                </td>
            </tr>
            <tr>
                <td class="month" style="text-align: right; padding-right: 5px;">
                    <p align="right">July</p>
                </td>
                <td class="date">
                    <p>1</p>
                </td>
                <td>
                    <p>
                        <span>For students admitted for fall 2017: Final, official transcripts must be sent to the campus admissions office. Transcripts must be postmarked or electronically submitted on or before July 1.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="month" style="text-align: right; padding-right: 5px;">
                    <p align="right"></p>
                </td>
                <td class="date">
                    <p>15</p>
                </td>
                <td>
                    <p>
                        <span>Official AP, IB examination results must be sent to the campus admissions office. Test scores must be postmarked or electronically submitted on or before July 15.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr color="#E9E7DB" style="margin-right: 1em; margin-left: 3em;">
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
