<div class="topics-index">
  <h2>CoCo Forums</h2>

  <h4>Discuss schools, scholarships, the application process and more!</h4>
  <hr>
  <div class="row">
    <div class="col offset-s3 s6">
      <form class="form input-field" action="/messages/search" method="post" style="text-align:center;">
        <input type="text" name="message_string" placeholder="Search forum by content..." style="text-align:center;">
        <input class="btn" type="submit" name="submit" value = "Search">
      </form>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col s4">
      <h5>FORUM TOPICS</h5>
    </div>
    <div id="all-tab" class="col s4">
      <input id="gen-tab-btn" class="btn col s12" type="submit" name="submit" value = "Most Recent Posts" action = "/" >
    </div>
  </div>

  <div id="topic-tabs" class="row">
    <div id="general-tab" class="col s3">
      <input id="gen-tab-btn" class="btn col s12" type="submit" name="submit" value = "General" action = "" >
    </div>
    <div id="sat-prep-tab" class="col s3">
      <input id="sat-prep-btn" class="btn col s12" type="submit" name="submit" value = "SAT Preparation" action = "">
    </div>
    <div id="fin-aid-tab" class="col s3">
      <input id="fin-aid-btn" class="btn col s12" type="submit" name="submit" value = "Financial Aid" action = "">
    </div>
    <div id="college-disc-tab" class="col s3">
      <input id="college-disc-btn" class="btn col s12" type="submit" name="submit" value = "College Talk"  action = "">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col s4">
      <h5>Message</h5>
    </div>
    <div class="col s2">
      <h5>No. of Replies</h5>
    </div>
    <div class="col s6">
      <h5>Most Recent Reply</h5>
    </div>
  </div>
    <% @messages.each do |message| %>
      <div class="row">
        <div class="col s4" style="">
          <h5><%= link_to message.title, message_comments_path(message) %></h5>
        </div>
        <div class="col s2">
          <% if message.comments %>
            <p><%= message.comments.length %></p>
          <% else %>
            <p>0</p>
          <% end %>
        </div>
        <div class="col s6">
          <% last_comment = message.comments.last %>
          <% if last_comment %>
            <p class="light"><%= last_comment.body %></p>
          <% else %>
            No responses yet...
          <% end %>
        </div>
      </div>


    <% end %>
    <form action="/messages/new" method="get">
      <input type="submit" value="Add a Topic" class="waves-effect waves-light btn">
      <input type="hidden" name="topic_id" value=<% @topic_id %> >
    </form>
</div>
