<div class="requirements-show">


  <h1>A-G Requirements</h1>

  <p>
    To attend a University of California (UC) or a California State University(CSU),
    all high school students need to complete the A-G requirements. The following
    are a list of the required subjects and number of years.
  </p>
  <p>
    You must receive a grade of C or better. You can also use test scores. The classes must<br>
    be from the approved list.
    Click <a href="http://admission.universityofcalifornia.edu/freshman/requirements/a-g-requirements/">here</a>
    for more information from UC website.
  </p>
  <% if current_user %>
    <p>
      <%=button_to "Click here if you would like to use our A-G Tracker", user_requirements_path(current_user), method: :get, class: "btn" %>
    </p>
  <% else %>
    <p>
      <%=button_to "Click here if you would like to use our A-G Tracker", login_path, method: :get, class: "btn" %>
    </p>
  <% end %>
</div>
  <div class="ag-table" >
    <table class="highlight requirements">
      <tr>
        <th class="requirements">Subject</th>
        <th class="requirements" colspan="2">Years</th>
      </tr>
      <tr>
        <td class="requirements" >A: Historical/Social Science</td>
        <td class="requirements" colspan="2">2 required</td>
      </tr>
      <tr>
        <td class="requirements">B: English</td>
        <td class="requirements" colspan="2">4 required</td>
      </tr>
      <tr>
        <td class="requirements">C: Mathematics</td>
        <td class="requirements">3 required</td>
        <td class="requirements">4 recommended</td>
      </tr>
      <tr>
        <td class="requirements">D: Lab Science</td>
        <td class="requirements">2 required</td>
        <td class="requirements"> 4 recommended</td>
      </tr>
      <tr>
        <td class="requirements">E: Language other than English</td>
        <td class="requirements">2 required</td>
        <td class="requirements">3 recommended</td>
      </tr>
      <tr>
        <td class="requirements">F: Visual and Performing Arts</td>
        <td class="requirements" colspan="2">1 required</td>
      </tr>
      <tr>
        <td class="requirements">G: College-prep Elective</td>
        <td class="requirements" colspan="2">1 required</td>
      </tr>
    </table>
  </div>
