<h5> Your user profile details: </h5>
<b>Name:</b> <%= current_user.first_name %><br>
<b>User Type:</b> <%= current_user.user_type %><br>
<b>Grade Level:</b> <%= current_user.grade_level %><br>
<b>Language Preference:</b> <%= current_user.lang_preference %><br>