<div class="container new-form">
<h3>Signup form:</h3>

<% if @errors %>
    <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>

<form method="POST" action="/users">
<%= token_tag %> 
  <p>First Name:<input type="text" name="user[first_name]"></p>
  <p>Last Name:<input type="text" name="user[last_name]"></p>
  <p>You are a:<input type="radio" name="user[user_type]"></p>
  <p>
    <input class="with-gap" name="user[user_type]" value="student" type="radio" id="test3"/>
    <label for="test3">Student</label>
  </p>
  <p>
    <input name="user[user_type]" value="parent" type="radio" id="test4"/>
    <label for="test4">Parent</label>
  </p>
  <p>Email Address:<input type="text" name="user[email]"></p>
  <p>Password:<input type="password" name="user[password]"></p>
  <p>Password Confirmation:<input type="password" name="user[password_confirmation]"></p>
  <p>Phone Number:<input type="text" name="user[phone_number]"></p>
  <p>Street Address:<input type="text" name="user[street_address]"></p>
  <p>City:<input type="text" name="user[city]"></p>
  <p>State:<input type="text" name="user[state]"></p>
  <p>Zip Code:<input type="text" name="user[zip_code]"></p>
  <p>Language Preference:</p>
    <p>
    <input class="with-gap" name="user[lang_preference]" value="english" type="radio" id="lang1"/>
    <label for="lang1">English</label>
  </p>
  <p>
    <input class="with-gap" name="user[lang_preference]" value="spanish" type="radio" id="lang2"/>
    <label for="lang2">Spanish</label>
  </p>
  <p>Grade level:</p>
    <p>
    <input class="with-gap" name="user[grade_level]" value="9" type="radio" id="9"/>
    <label for="9">9th</label>
  </p>
  <p>
    <input class="with-gap" name="user[grade_level]" value="10" type="radio" id="10"/>
    <label for="10">10th</label>
  </p>
  <p>
    <input class="with-gap" name="user[grade_level]" value="11" type="radio" id="11"/>
    <label for="11">11th</label>
  </p>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons center"></i>
  </button>
</form>
</div>
