<h1>welcome to coco: the college counselor </h1>

 <%= link_to 'CHATROOM', chats_path %>  |  
 <%= link_to 'A-G REQUIREMENTS INFORMATION', agrequirements_path %>  |  
 <%= link_to 'APPLICATION INFORMATION', applications_path %>  |  
 <%= link_to 'SAT INFORMATION', sats_path %>