<div class="container">
<body class="index">
<div id="index-banner">
    <div class="row">
      <div class="col s12 header-image">
        <%= image_tag("coco-header.png") %>
      </div>
    </div>
</div>
<div class="row index">
<h5 class="mission-statement"><i> "keeping students on track<br> & parents informed" </i></h5>
  <div class="snippet col s4 light">
  <table>
    <tbody>
      <tr>
        <td><i class="material-icons medium">textsms</i></td>
        <td><b>texting</b> — receive SAT reminders and weekly informational tips by text</td>
      </tr>
    </tbody>
  </table></div>

    <div class="snippet col s4 light">
  <table>
    <tbody>
      <tr>
        <td><i class="material-icons medium">trending_up</i></td>
        <td><b>tracking</b> — track courses and ensure you or your child can graduate</td>
      </tr>
    </tbody>
  </table></div>

    <div class="snippet col s4 light">
  <table>
    <tbody>
      <tr>
        <td><i class="material-icons medium">hearing</i></td>
        <td><b>informing</b> — get access to waivers, scholarships, and free courses</td>
      </tr>
    </tbody>
  </table></div>


</div>
<div class="divider"></div>
<div class="row index">
        <div class="col s12 m5">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons medium">perm_identity</i></h2>
            <h4 class="center info-title">Students | Estudiantes</h4>
            <p class="light">CoCo is an on demand college counselor. When you set up an account with CoCo, you can keep track of your A-G requirements, learn more about the SAT exam and dates, and get text reminders about your upcoming SAT. Getting into college is hard enough, we believe logistics should never be an obstacle to higher education.</p>
            <div class="divider"></div>
            <p class="light">
            <p class="light">CoCo es una aplicación similar a un consejero que te ayuda a preparate para el colegio. Al abrir una cuenta con CoCo, puedes realizar un seguimiento de tus requisitos A-G, aprender más sobre el examen SAT y sus fechas, y obtener recordatorios de texto días antes de tu examen. Ir a la universidad es bastante difícil, creemos que la preparación y la elaboración de documentos nunca deberían ser un obstáculo a la universidad.</p>
          </div>
        </div>

        <div class="col s12 m2"></div>

        <div class="col s12 m5">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons medium">supervisor_account</i></h2>
            <h4 class="center info-title">Parents | Padres</h4>
            <p class="light">As a parent of a first-generation college student, it can be difficult to understand and navigate the road to college.  There are many tests, requirements, and deadlines. CoCo will introduce you into everything you need to know, and help you and your child keep track of everything.  When you sign up on this website, you will receive weekly texts to keep you informed.</p>
            <div class="divider"></div>
            <p class="light"></p>
            <p class="light">Como padre de un estudiante universitario de primera generación, puede ser difícil de entender y navegar por el camino hacia la universidad. Hay muchos examenes, requisitos, y plazos. CoCo le presentará todo lo que necesita saber y le ayudará a usted y a su hijo a realizar un seguimiento de todos los requisitos. Cuando se registra en este sitio, recibirá textos semanales para mantenerle informado.</p>
          </div>
        </div>
      </div>
</body>
</div>
