<script>
$(document).ready(function(){
  $('.parallax').parallax();
});
</script>

<body class="index">
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container parallax">
        <img src="https://s23.postimg.org/tcaxzkdwb/books_magazines_building_school.jpg">
        <div class="row center">
          <h1 class="header center text-lighten-2">COCO: The College Counselor</h1>
          <h5 class="header col s12 light">keeping students on track & parents informed</h5>
        </div>
      </div>
    </div>
</div>

<div class="row index">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h4 class="center">Helping Students</h4>

            <p class="light">CoCo is an on demand college counselor. When you set up an account with CoCo, you can keep track of your A-G requirements, SAT dates and information, and get text reminders. Getting into college is hard enough, we believe logistics should never be an obstacle to higher education.</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h4 class="center">describe purpose - parents</h4>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>
</body>
