<h1>Google Map for SAT locations</h1>

<form id='date'>
  <input type="date" name="date">
  <input type="submit">
</form>
<div id="map">
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=ENV['MAP']&callback=initMap"></script>
</div>
