<h1>events#new</h1>
<div class="google-map-sat">
    <h1>Google Map for SAT locations</h1>
    <form id='date'>
        <select type="date" name="date">
            <%@dates.each do |date|%>
            <option value="<%=date%>"><%=date.strftime('%A %b %e %Y')%></option>
            <%end%>
        </select>
        <input type="submit">
    </form>
    <div id="map">
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAP']%>&callback=initMap"></script>
    </div>
</div>

<div class="sat-nearest-locations">
  <h2>Here are the nearest SAT locations:</h2><br>

      <ul>
        <li class="location-template hidden">
      <div class="address-first-line">
      </div>
      <span class="phone-number">
      </span>
      <form action="" >

      </form>
    </li>
  </ul>


  <h4>Choose the best location for you and add it to your calendar to get SAT tips and reminders</h4>
  <h4>***Remember to <b>register</b> on: </h4><a href="https://collegereadiness.collegeboard.org/sat/register">SAT registration</a>
</div>
