<h1>event#show</h1>

<b>Here are details for your upcoming event:</b> <br><br>

<b>Event:</b> <%= @event.title %><br>
<b>Date:</b> <%= @event.sat.date %><br>
<b>Location:</b> <%= @event.sat.location_name %><br>
<b>Address:</b> <%= @event.sat.address %><br>

