<div class="chat">
  <div class="chat-user">
    <p><%= chat.user.first_name %> at <%= chat.created_at %> : </p>
  </div>
 		<div class="chat-content-en">
 		  <%= chat.body_en %>
 		</div>
 		<div class="chat-content-es">
   		<%= chat.body_es %>
  	</div>
  	<br>
</div>
