<div class="chat">
  <div class="chat-user">
    <p class="name"><%= chat.user.first_name %> at <%= chat.created_at %> : </p>
  </div>
 		<div class="chat-content-en">
 		  <p><%= chat.body_en %><p>
 		</div>
 		<div class="chat-content-es">
   		<p><%= chat.body_es %><p>
  	</div>
  	<br>
</div>
