<div class="chat">
  <div class="chat-user">
    <p><%= chat.user.first_name %>: </p>
  </div>
 		<div class="chat-content-en">
 		  <p><%= chat.body_en %> </p>
 		</div>
 		<div class="chat-content-es">
   		<p><%= chat.body_es %> </p>
  	</div>
  	<br>
</div>
