// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.chat-wr {
  margin-top: 4%;
  margin-left: 15%;
  height: 75vh;
  width: 50vw;
  }

.chats {
  background-color: #fff;
  box-shadow: 0 0 0 5px #f4f2ed inset;
  box-sizing: border-box;
  height: 87%;
  overflow: scroll;
  padding: 20px;
}
.chats-table{
  display: table;
  width: 100%;
}
.chat{
  line-height: 1.6;
  &:last-child {
    margin-bottom: 10px;
  }
  display: table-row;
  &:nth-child(2n) div ~ div 
  > div {
    display: table-cell;
    padding: 13px 10px 10px;
  }
}
.chat-user {
  color: #666;
  font-size: 13px;
  margin-right: 10px;
}
.chat-content-en {
  background-color: #f2f2f2;
  width: 100%;
}

.chat-content-es{
  background-color: #e0eaf9;
  width: 100%;
}

.chat-input {
  background-color: rgba(0,0,0,0.03);
  box-sizing: border-box;
  height: 13%;
  padding: 0 5px 5px;
  form {
    height: 100%;
  }
  textarea {
    height: 100%;
    width: 84.5%;
   }
  input {
    float: right;
    height: 100%;
    vertical-align: top;
    width: 14.5%; 
    }
  }

  .name {
    font-weight: bold;
    color: #01579b;
  }