// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-style: none;
}


#chats-table {
	max-height: 20%;
}
.chat-content-en {
	background-color: lightgrey;
}
.chat-content-es {
	background-color: #6f9fd6;
}
