// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-style: none;
}


#chats-table {
	max-height: 20%;
}
.chat-content-en {

	background-color: #f9da81;
}
.chat-content-es {

	background-color: #f9ecc7;
}

.chat {
position: relative;
	background-color: #F7C331;
	min-width: 10%;
	max-width: 70%;
	padding: 1%;
	padding-letf: 3%;
	padding-right: 3%;
}

.chat-user {
	background-color: white;
	color: #42649b;
	font-weight: bold;
}
.chat-input {
	min-width: 10%;
	max-width: 70%;
	padding: 1%;
}