// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .grid-example col s12 {
//   background-color: pink;
// }
//
// .col.m12.s12.12 {
//   text-align: center;
// }

// .col.s6.m6.6
.col {
  padding:0px;
  box-sizing:border-box;
}

body.events {
  max-width: 1200px;
  min-width: 300px;
  padding:10px;
  margin-left:0px;
}

.container {
  margin-left: 0px;
}

#small_map {
  margin-left:25%;
  margin-right: 25%;
  height: 500px;
  max-width: 50%;
}

.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .calendar-title{
    font-size: 24px;
  }

  .date-btn{
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
  }

  .day {
    height: 80px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #F7C331;
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #F7E5B2;
  }
  .next-month {
    background: #F7E5B2;
  }
  .current-month {}

  .has-events {}

  }
