// Place all the styles related to the sats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  height: 300px;
}

.card.tall{
  height: 350px;
}

.sats-index {
  height: 250px;
  font-family: helvetica;
  font-style: italic;
  text-align: center;
}
