// Place all the styles related to the sats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  height: 300px;
}

.card.tall{
  height: 350px;
}

.sats-index {
  height: 225px;
  font-family: helvetica;
  font-style: italic;
  text-align: center;
}

.icons {
  color: #fb8c00;
  font-size: 70px;
}

.answers{
  font-size: 20px;
  // max-width: 900px;
}

li {
  font-size: 20px;
}

.waivers{
  text-align: center;
}

.waiver-text {
  font-size: 30px;
}

.waivers-horizontal{
  background-color: #65b5f6;
  color: white;
}
