body {

	display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

body.index {
	background-image: url(https://s23.postimg.org/tcaxzkdwb/books_magazines_building_school.jpg);
	background-repeat: no-repeat;
  background-position: top; 

}

main {
  flex: 1 0 auto;
}

.section {
	position: absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}

.container.parallax {
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}


.coco-bar {
	text-align: center;
	font-family: Helvetica;
	font-size: 35px;
	text-shadow: 1px 1px 1px #000;
}


#small_map {
    height: 400px;
    max-width: 50%;
}

.nav-wrapper {
	background-color: #42649b;
	font-family: Helvetica;
	font-size: 20px;
}

.footer {
	background-color: #6B7A8F;
	font-family: Helvetica;
	font-size: 20px;
	text-align: center;
  bottom: 0;
  position: fixed;
  z-index: 150;
  height: 40px;
}
#new-form, h3.form {
	background-color: white;
}
.btn {
	background-color: #F2882F;
}

.btn:hover {
	background-color: #F7C331;
}

h1.header, h5.header {
		color: #42649b;
		text-shadow:10px 10px 10px #42649b;
		font-style: bold;
		background-color: white;
	}


.section no-pad-bot {
	width: 100%;
}

.container.col.s12 {
	width: 100%;
	text-align: center;
	position: inline-block;
}

.container.new-form {
	margin-top: 15%;
	background-color: grey;
}

